<h1 id="test" style="margin-top: 100px;"><font color="blue">Welcome!!</font></h1>
<div style="margin: 200px; margin-left: 350px;">
<p><font size="5"><em>
  <font color="red">One2Many</font> is a simple web application which helps you store all your important digital information. This <font color="blue">"One"</font> directory can help store <font color="blue">"Many"</font> of your confidential data/information.
</em></font></p>

<p>
  <u>The application can be well used in the following scenarios:</u>
  <ul>
    <li>Track your important <b>login</b> details across various web platforms</li>
    <li>Store important banking details(example:<em> username and password</em>).</li>
    <li>If you often tend to forget your important <b>digital</b> details then just avail from this application.</li>
  </ul>
</p>
</div>
