<div align="center">
<p><b><font color="red">The following information was added</font></b></p>
<body>
<p>
  <b>Site Name:</b> <%= @info.site %>
</p>

<p>
  <b>Username:</b> <%= @info.username %>
</p>

<p>
  <b>Password:</b> <%= @info.password %>
</p>

<p>
  <b>Signature:</b> <%= @info.signature %>
</p>
</div>
</body>
